.card {
  width: 300px;
  margin: 20px;
  padding: 10px;
  background-color: #212020;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.artistImage {
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.text {
  color: #feb830;
  text-decoration: none;
}

.artistDescription {
  color: white;
  margin-bottom: 2px;
  padding-bottom: 8px;
}

.sectionTitle {
  color: #feb830;
}

.workTitle {
  color: #feb830;
  text-align: center;
  width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.gridContainer {
  padding-top: 16px;
}
