.main {
  display: flex;
  flex-direction: column;
  /* replaced  to enable sticky header:  min-height: 100vh;  */
  height: 100vh;
  width: 100vw;
  background-color: #424141;
  overflow: auto;
}

.header {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 5;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  color: #fff;
  margin-bottom: 1rem;
  font-family: "Khand", sans-serif;
  font-size: 2rem;
}

.artistsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  justify-items: center;
  width: 100%;
}
