/* .artistCard {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #2c2c2c;
    border-radius: 8px;
    color: white;
    font-family: 'Khand', sans-serif; Assure que la police définie dans global.css est utilisée
  }
  
  .artistCard .artworkImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .artistCard h3 {
    margin: 0.5rem 0;
    color: #fff;
  }
  
  .artistCard .artistName {
    color: #feb830;
  } */
  
  