.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #424141;
  overflow: auto;
}

.header {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #424141;
  min-height: 100%;
}


.title {
  color: #fff;
  margin-bottom: 1rem;
  font-family: 'Khand', sans-serif;
  font-size: 2rem;
}

.artworkList {
display:flex;
flex-wrap:wrap;
gap:20px;
margin:0px 15px ;
}

.artworkCard {
  position: relative;
  height: 100%;
}

.bookmarkIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 40px;
  color: #FEB830;
  cursor: pointer;
}
.deleteIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 40px;
  color: #FEB830;
  cursor: pointer;
}
.deleteIcon:hover {

  color: #ffffff;
  
}

