.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(180, 178, 178, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #212020;
  padding: 20px;
  border-radius: 15px;
  max-width: 60%;
  width: 30%;
  height: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}


.inputField {
  color: white;
  font-family: 'Khand';
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 9px;
  border: 0.1px solid #ffffff;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
}

.validate {
  font-size: 30px;
  width: auto;
}

/* DEMO2 */
.validate:disabled {
  background-color: rgb(127,127,127);
  color: rgb(160, 150, 132);
  border: color(50 160 150 132);
  opacity: 0.5;
}

.button {
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  font-family: 'Khand';
  font-size: 15px;
  color: rgb(254, 184, 48);
  padding: 5px 15px;
  transition: all 327ms ease 0s;
  width: auto;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 9px;
  background: rgb(66, 65, 65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  color: rgb(255, 255, 255);
  background: rgb(254, 184, 48);
  border-color: rgb(255, 255, 255);
}
