.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #424141;
  overflow: auto;
}

.header {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #424141;
}

.title {
  color: #fff;
  margin-bottom: 1rem;
  font-family: "Khand", sans-serif;
  font-size: 2rem;
}

.artworkList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0px 15px;
}

.artworkCard {
  position: relative;
  height: 100%;
}

.bookmarkIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 40px;
  color: #feb830;
  cursor: pointer;
}
.bookmarkArtistIcon {
  position: absolute;
  top: 20px;
  right: 18px;
  font-size: 40px;
  color: #feb830;
  cursor: pointer;
}
.deleteIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 40px;
  color: #feb830;
  cursor: pointer;
}
.deleteIcon:hover {
  color: #ffffff;
}
