.categoryCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    text-align: left; 
    width: 420px;
    padding-top: 20px;
    background-color: #212020; 
    border-radius: 8px;
    color: white;
    border:2px solid white;
    font-family: 'Khand', sans-serif;
}
.categoryImage {
    cursor: pointer;
}
.categoryCard .categoryImage {
    width: 380px; 
    height:380px;
    border-radius: 8px 8px 0 0; 
}

.categoryCard h3 {
    margin: 0.5rem 0 0.25rem 0;
    font-weight: 600;
    color: white; 
}

.categoryCard .artistName {
    font-weight: 300;
    font-size: 14px;
    color: #ffcc00; 
    margin: 0.25rem 0;
}
