.categoryCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 420px;
  padding-top: 20px;
  background-color: #212020;
  border-radius: 8px;
  color: white;
  border: 2px solid white;
  font-family: "Khand", sans-serif;
}

.categoryImage {
  cursor: pointer;
}
.collectionImage {
  position: relative;
  width: 380px;
  height: 380px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.categoryCard .categoryImage {
  border-radius: 8px 8px 0 0;
}

.categoryName .collectionName {
  font-size: 25px;
  font-weight: 600;
  color: white;
}
