.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #424141;
  overflow: auto; 
}

.header {
  width: 100%;

}

.container {
  
  display: flex;
  flex-direction: column;
 
}

.featuredSection {
  width: 100%;
  padding: 1rem;
  display: flex;

}

.title {
  color: #fff;
  margin-bottom: 1rem;
  font-family: 'Khand', sans-serif;
  font-size: 2rem;
}
