.container {
  padding: 15px;
  border: 2px solid #d9d9d9;
  border-radius: 15px;
  background-color: transparent;
  color: #d9d9d9;
}

.commentArea {
  font-size: 20px;
  padding: 15px;
  border: 2px solid #d9d9d9;
  border-radius: 15px;
  background-color: transparent;
  min-height: 200px;
  max-height: 280px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative; /* Ajouté pour positionner la scrollbar */
}

/* pour les bulles de comment */
.comment {
  color: #d9d9d9;
  padding: 10px;
  align-self: flex-start;
}
.commentText {
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  padding: 5px 20px;
}
.commentator {
  margin: 0px 10px;
  cursor: pointer;
}
.commentator:hover {
  font-weight: 700;
}
.commentUploader {
  color: #feb830;
  padding: 10px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.commentTextUploader {
  color: white;
  border: 1px solid #feb830;
  border-radius: 25px;
  padding: 5px 20px;
}

.newComment {
  display: flex;
  margin-top: 15px;
}

.yourComment {
  color: #d9d9d9;
  margin-top: 20px;
  padding: 15px;
  border-left: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  border-radius: 0px 0px 0px 15px;
  background-color: transparent;
  resize: none;
  border-top: none;
  border-right: none;
  outline: none;
  width: 100%;
}

.yourComment:focus {
  outline: none;
}

.characterCount {
  font-family: "khand";
}

.send {
  cursor: pointer;
  color: #feb830;
  font-size: 24px;
  margin-left: 10px;
  border-radius: 25px;
}
