.main {
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: #212020;
  /* padding: 4rem 0; */
}

.headerContent {
  display: flex;
  /* align-items: center; */
  /* gap: 20px;  */
}

@font-face {
  font-family: 'Nabla';
  src: url('../assets/Nabla-Regular-VariableFont_EDPT,EHLT.ttf') format('truetype');
  /* font-weight: normal;
  font-style: normal; */
}
@font-face {
  font-family: 'Khand';
  src: url('../assets/Khand-Regular.ttf') format('truetype');
  /* font-weight: normal;
  font-style: normal; */
}

.h1 {
  font-family: 'Nabla';
  font-size: 50px;
  font-variation-settings: 'EDPT 200';
}

.navigation{
  display: flex;
  color:#D9D9D9;
  font-family: "Khand";
  font-size: 1.5rem;
  font-weight: 500;
  gap:5rem;
}

.buttons{
  display: flex;
  margin-right: 1.5rem;
  gap:1rem;
 
}

                  
@import url('https://fonts.googleapis.com/css2?Roboto&display=swap');

.button {
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  font-family: "Khand";
  font-size: 14px;
  color: rgb(254, 184, 48);
  padding: 5px 15px;
  transition: all 327ms ease 0s;
  width: auto;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 9px;
  background: rgb(66, 65, 65);
  display: flex;
  justify-content: center;
  align-items: center;
  /* --hover-bgc: #feb830;
  --hover-color: #ffffff;
  --hover-borderc: #ffffff;
  --hover-width: auto; */
}


.button:hover{
  color: rgb(255, 255, 255);
  background: rgb(254, 184, 48) ;
  border-color: rgb(255, 255, 255);

}

