.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height:50vh; */
    /* margin: 0 auto;  */
    margin: 10px;
    background-color: rgb(28, 73, 73);

}
.input{
    width: 120px;
    font-size: 15px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black ;
    margin-top: 20px;
    color: white;
}
.input:focus {
    outline: none;
    /* border: none; */
    box-shadow: none;
  }
.button{
    background-color: transparent;
    margin-top: 20px;
    font-size: 20px;
}