/* .main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #424141;
  overflow: auto;
} */

.main {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: #424141;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(6, 1fr);
  margin: 0;
  padding: 0;
  z-index: 0;
  gap: 10px; /* Ajoute un espacement entre les lignes et colonnes pour visualiser */
  outline: 1px solid rgba(255, 255, 255, 0.5); /* Bordure légère pour voir les lignes */
}



/* .main {
  display: grid;
  grid-template-columns: 1fr; /* Une seule colonne */
  /* grid-template-rows: auto auto 1fr; 
  min-height: 100vh;
  background-color: #424141;
  overflow: auto;
  gap: 20px; 
}  */

.header {
  grid-column: 1 / 7; /* Header occupe toute la largeur */
}

/* .infos {
  width: 100%;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border: 3px solid rgb(0, 21, 255);

} */

.infos {
  grid-row: 1 / 2; /* Place infos en dessous du header */
  grid-column: 1 / 7; /* Occupe toute la largeur */
  padding: 40px; 
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  /* border: 3px solid rgb(0, 21, 255); */
  overflow: hidden; /* Masque le contenu excédentaire */
  text-overflow: ellipsis; /* Affiche des points de suspension si le texte dépasse */
  /* white-space: nowrap; Empêche le texte de s'étendre sur plusieurs lignes */
  display: flex; 
  align-items: flex-start; /* Aligne le contenu en haut */
  justify-content: flex-start; /* Aligne le contenu à gauche */
  box-sizing: border-box; /* Inclut padding et bordure dans les dimensions */

}


.container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 2/3 de l'espace pour artworks, 1/3 pour collections */
  grid-row: 2 / 13;
  grid-column: 1 / 7; /* Occupe toute la largeur */
  grid-gap: 20px; /* Espacement entre les colonnes */
}

.artworkSection {
  grid-column: 1 / 2; /* Première colonne de la grille */
  grid-row: 2 / 13; /* Place infos en dessous des infos */

  overflow-y: auto; /* Défilement si contenu excédentaire */
  padding: 20px; /* Espacement interne */
  /* border: 3px solid red; */
}

.collectionsSection {
  grid-column: 2 / 3; /* Deuxième colonne de la grille */
  grid-row: 2 / 13; 
  overflow-y: auto;
  padding: 20px;
  /* border: 3px solid rgb(225, 255, 0); */

}

/* .artworkSection {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #292929;
  padding: 20px;
  border-radius: 8px;
  border: 4px solid red;
}

.collectionsSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #292929;
  padding: 20px;
  border-radius: 8px;
  border: 4px solid yellow;
} */

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0px 15px;
}

.titlePage {
  color: #ffcc00;
  margin-bottom: 1rem;
  font-family: 'Khand', sans-serif;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .artworkSection,
  .collectionsSection {
    flex: 1;
    width: 100%;
  }

  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
